.header {
    text-align: left;
    color: #021818d3; /* V Dark Blue*/
    padding: 2rem 3rem 2rem 3rem;
    background-color: #aa4f12f0; /* Brownish-Orange */
    /*background-color: #fa8334c3; /* Cadmium Orange*/
    font-family: 'Brush Script MT', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 1.5s ease-in-out;
}

h1 {
    font-size: 50px;
}

body {
    /*background-color: #556B2F;  /* Mid-Dark Olive */
    /*background-color: #ffa500;  /* Orange */
    /*background-color: #8b8a4e;  /* Olive Green */
    background-color: #F8D7A1;  /* Light Peach */
    /*background-color: #A4A44D;  /* Pale Olive */
    /*background-color: #4B4B1F; /* Dark Olive */
    color: #021818e3;
    line-height: 1.5;
}

a {
    text-align: right;
    color: #021818;
    float: right;
    font-family: Georgia, serif;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #f2f2f2cf;
}

a.contacts {
    text-align: left;
    float: left
}

a.contacts:hover {
    color: #02a8f5;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.card {
    width: auto;
    height: auto;
    /*background: linear-gradient( rgb(237, 136, 28), rgba(232, 173, 102, 0.8));*/
    background-color: rgba(237, 136, 28, 0.705);
    padding: 1em;
    border-radius: 20px;
    animation: fadeIn 2s forwards;
    max-width: 650px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

h2 {
    font-family: Georgia, serif;
    text-align: center;
}

h4 {
    font-family: Georgia, serif;
    text-align: left;
}

h3 {
    font-family: Georgia, serif;
    text-align: left;
}

p {
    font-family: Georgia, serif;
    text-align: justify;
    font-size: large;
}

footer {
    background-color: #aa4f12f0;
    color: #021818;
    text-align: left;
    padding: 1em;
  }

li {
    font-family: Georgia, serif;
    font-size: 18px;
}